@page "/widgets/index"
@inherits WidgetBasePageClass

<PageTitle>Widgets</PageTitle>

@if (Widgets == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Widgets</MudAlert>
    return;
}

<a href="/widget/create" class="btn btn-primary">Create Widget</a>&nbsp;<button class="btn btn-success" hidden="@(!Widgets.Any())" @onclick="ExportAsCSV">Download as CSV</button>

<br />
<br />

<WidgetGridViewComponent Widgets="@Widgets" />