@page "/colourjustification/delete/{ColourJustificationId:int}"
@inherits ColourJustificationBasePageClass

<PageTitle>Delete Colour Justification</PageTitle>

@if (ColourJustificationModel == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Colour Justification</MudAlert>
    return;
}

<h3>Delete Colour Justification</h3>

@if (ColourJustificationModel.Widgets != null && ColourJustificationModel.Widgets.Any())
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
        Cannot delete colour @ColourJustificationModel.Justification as @ColourJustificationModel.Widgets.Count @(ColourJustificationModel.Widgets.Count == 1 ? "Widget" : "Widgets") have this colour justification
    </MudAlert>
    <br />
    <a href="/colourjustifications/index" class="btn btn-primary">Cancel</a>
    return;
}

<MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
    Are you sure you want to delete the colour justification "@ColourJustificationModel.Justification"?
</MudAlert>

<br />
<br />

@if (ColourJustificationModel.Widgets != null && !ColourJustificationModel.Widgets.Any())
{
    <button class="btn btn-danger" @onclick="DeleteColourJustification">Delete</button>
    @:&nbsp;
}
<a href="/colourjustifications/index" class="btn btn-primary">Cancel</a>



